// Blur the background behind Waybar popup menus.
layer-rule {
    match namespace="^waybar$"

    popups {
        // Match the default GTK 3 popup corner radius.
        geometry-corner-radius 6
        opacity 0.60

        background-effect {
            blur true
        }
    }
    }
    
    layer-rule {
    match namespace="^launcher$"
    
    opacity 0.60

    background-effect {
        blur true
    }
}

	layer-rule {
    match namespace="^notifications$"
    
    opacity 0.60
	geometry-corner-radius 10
    background-effect {
        blur true
    }
}

// Reglas de Capas
layer-rule { place-within-backdrop true; }

