		// SIDE-BAR
						
    // Toggle the focused window into/out of the sidebar
    Mod+S {"toggle-window"; }

    // Toggle sidebar visibility (hide/show)
    Mod+Shift+S {"toggle-visibility"; }
	
    // Flip the order of the sidebar
    Ctrl+S {"niri-sidebar flip"; }
	
    // Force reorder (useful if something gets misaligned manually)
    Mod+Alt+R {"niri-sidebar reorder"; }

			
