* {
    
    font-weight: bold;
    border-radius: 35px;
    border-color: #f1c232;
    border-style: dotted;
    font-family: "Agave-Nerd-Font" ;
	font-size: 12px;
	min-height: 10px;
    border:2px;
    background: transparent;
}

bar {
	border-color: #f1c232;
	border-radius: 20px;
	/*border: 2px;*/
	background: #3D2E23; 
}

window#waybar {
    /*background-color: rgba (40, 40, 40, 0.5);*/
    color: #ebdbb2;
    border-color: #f1c232;
    
}

#workspaces {
	background: #3D2E23;
	margin-top: 10px;
    margin-left: 10px;
    padding-right: 4px;
    border: 2px;
    border-style: dotted;
    border-color: #f1c232;
    color: #f1c232; 
    transition: 0.3s;
}


#workspaces button {
    color: #f1c232;
    border-color: #f38ba8;
    transition: 0.3s;
    border:2px;
}
#workspaces button:hover {
    background: #f1c232;
    /*color: transparent;*/
    color: #fe0000;
}
#workspaces button.focused {
    background-color: rgba (40, 40, 40, 0.5);
    box-shadow: inset 0 -3px #ffffff;
    border-style: dotted;
    border-color: #f1c232;
    color: #fa0202;
}
#workspaces button.active {
    box-shadow: inset 0 -3px ;
    border-color: #f1c232;
    border-style: dotted;
    opacity: 1;
    color:#fa0202;
    
}

#modules-left {
    
    border-color: #f1c232;
    border: 2px;
    color:#f1c232;
	background: #3D2E23;
}

#modules-right {
    
    border-color: #f1c232;
    border: 2px;
    border-left: 15px;
    color:#f1c232;
    background: #3D2E23;
}

#modules-center {
   
    border-color: #f1c232;
    background: #3D2E23;
    margin-right: 20px;
    color:#f1c232;
	border:2px;
} 

#clock {
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }

#clock:hover {
    color: #232136; 
    background: #f1c232;
    border: 1px;
}
#cpu {
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }

#cpu:hover {
    color: #232136; 
    background: #f1c232;
}
#taskbar{
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }
    
#taskbar button {
    color: #f1c232;
    border-color: #f38ba8;
    transition: 0.3s;
    border:2px;
}
#taskbar button:hover {
    background: #f1c232;
    /*color: transparent;*/
    color: #fe0000;
}
#taskbar button.focused {
    background-color: rgba (40, 40, 40, 0.5);
    box-shadow: inset 0 -3px #ffffff;
    border-style: dotted;
    border-color: #f1c232;
    color: #fa0202;
}
#taskbar button.active {
    box-shadow: inset 0 -3px ;
    border-color: #f1c232;
    border-style: dotted;
    opacity: 1;
    color:#fa0202;
    
}    
  
    
/*
#wlr.taskbar {
	padding-right: 20px;
    padding-left: 20px;
    background-color: rgba (40, 40, 40, 0.5);
    color: #fe8019;
	margin-right: 20px;
}

*/
/*#pulseaudio {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 15px;
    border-left: 15px;
    color:#f1c232;
    
}*/
#pulseaudio {
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }
    
#pulseaudio:hover {
    background: #f1c232;
    /*color: transparent;*/
    color: #3D2E23;
}
#memory {
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }

#memory:hover {
    background: #f1c232;
    /*color: transparent;*/
    color: #3D2E23;;
}


#custom-cal{
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 3px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    
}
#custom-cal:hover {
    color: #232136; 
    background: #f1c232;

}


#custom-menu{
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 3px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    
}
#custom-menu:hover {
    color: #232136; 
    background: #f1c232;

}
#temperature {
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px;
    background: #3D2E23;
    color: #f1c232;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
    }
   
#temperature:hover {
    color: #232136; 
    background: #f1c232;
}
#custom-niflveil {
    padding: 0 10px;
    color: #88c0d0;
}

#custom-niflveil.empty {
    color: #4c566a;
}
#custom-tiempo{
	margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 20px;
    transition: none;
    background: #3D2E23;
    color: #f1c232;
    border-bottom: 3px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
}
#custom-tiempo:hover { 
    color: #232136; 
    background: #f1c232;

}
#custom-power {
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 30px;
    transition: none;
    background: #3D2E23;
    color: #f1c232;
    border-bottom: 3px;
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
}
#custom-power:hover {

    background: #fa0202;
    color: #ffffff;/* #ff0000; 
    border-color: #f38ba8;*/
	
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 20px;
    transition: none;
    background: #3D2E23; 
    color: #f1c232;
    border-bottom: 3px;
    /*border-style: solid;*/
    border-style: dotted;
    border-color: #f1c232;
    transition: 0.3s;
}
#disk:hover{
    color: #3D2E23;
    background: #f1c232;
}
